#startAnchor{
    -fx-background-color: WHITE;
}
#gameMap{
    -fx-background-color: WHITE;
}

#generalMap{
    -fx-background-color: WHITE;
}

#ButtonMenu{
    -fx-background-color: lightgray;
    -fx-max-height: 40;
}





